.mouse-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1.5px solid #ffffff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.2s;
    background-color: #ffffffc4;
    mix-blend-mode: difference;
  }
  
  .mouse-circle.pulse {
    animation: pulse-animation 1s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .mouse-circle::before,
  .mouse-circle::after {
    content: "";
    position: absolute;
    background-color: #000000;
  }
  
  .mouse-circle::before {
    width: .5px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .mouse-circle::after {
    width: 80%;
    height: .5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  