@import "../../variables";

section.hero-section {
  padding: 0 20px;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Updated */
  align-items: center; /* Added */
  letter-spacing: 1.2px;

  .heroContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1.hiMyNameIs {
    color: $accentColor;
    font-size: 1.1rem;
    text-align: left;
    margin-left: 2.3px;
    font-weight: 600;
  }
  h1.kurtisIvey {
    color: whitesmoke;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  h1.typeWriterText {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(199, 199, 199);
  }

  p {
    color: rgb(255, 255, 255);
    margin-top: 3vh;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    margin-left: 1px;
  }
}

@media screen and (min-width: 770px) {
  section.hero-section {
    h1.hiMyNameIs {
      font-size: 1.5rem;
      margin-left: 3.5px;
    }
    h1.kurtisIvey {
      font-size: 4.2rem;
    }
    h1.typeWriterText {
      font-size: 2.3rem;
      margin-left: 1.9px;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 1.4px;
      line-height: 40px;
      margin-left: 3px;
    }
  }
}
