@import "../../variables.scss";

section.projectsSection {
  color: white;
  padding: none;
  font-family: "Work Sans", sans-serif;

  a:hover {
    animation: miniWiggle 0.3s infinite;
  }
}

@media screen and (min-width: 770px) {
  section.projectsSection {
    color: white;
    padding: none;
  }
}

@media screen and (min-width: 950px) {
  section.projectsSection {
    font-family: "Work Sans", sans-serif;
    color: white;
    padding: none;
  }
}
