@import "../../variables.scss";

section.projects-section {
  color: white;
  padding: none;
  font-family: "Work Sans", sans-serif;
  h1 {
    margin-bottom: 50px;
  }
  a:hover {
    animation: miniWiggle 0.3s infinite;
  }
  .card {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 770px) {
  section.projects-section {
    color: white;
    padding: none;
  }
}

@media screen and (min-width: 950px) {
  section.projects-section {
    font-family: "Work Sans", sans-serif;
    color: white;
    padding: none;
  }
}
