@keyframes spinAndDisappear {
    0% {
      height: 40px;
      width: auto;
      opacity: 1;
      transform: rotateY(0);
    }
    50% {
      width: auto;
      height: 40%;
      opacity: 1;
      transform: rotateY(720deg); /* Half spin (180 degrees) */
    }
    100% {
      width: auto;
      height: 40%;
      opacity: 0;
      
      transform: rotateY(0); /* Full spin (360 degrees) */
    }
  }
  .load-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .hide-load-container{
    display: none;
  }
  
  .hide-on-load {
    opacity: 1;
    animation: spinAndDisappear 5s forwards;
  }