@import '../../variables.scss';

@keyframes showNavbar {
  from { opacity: 0; } /* Start with opacity 0 */
  to { opacity: 1; } /* Transition to opacity 1 */
}



nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: 'Permanent Marker', cursive;
  
  span{
    color: $accentColor;
  } 

  h1 {
    font-size: clamp(35px, 4vw, 55px);
    color: white;
    margin: 5px 0 0 10px;
  }

  .hamburgerContainer {
    position: relative;
    height: 45px;
    width: 45px;
    z-index: 4;
    transition: transform 0.255s ease-in-out;
    cursor: pointer;

    &.open {
      transform: rotate(720deg);
    }

    .hamburger {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease-in-out;
    }

    
  }
  #largerResNavLinks {
    display: none;
    
  }
  #sideBar {
    position: absolute;
    right: -1300px;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100vw;
    height: 100vh;
    transition: .3s;
    z-index: 2;
    ul{
      background-color: rgba(120, 118, 118, 0.447);
      grid-column: 2/3;
      width: 198px;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      hr{
        border-bottom: 1px solid gray;
        margin: 0 0 10px 15px;
      }
      li{  
        list-style: none;
        width: 100%;
        
        padding: 15px;
        color: white;
        font-size: clamp(20px, 2vw, 1.4rem);
        text-align: left;
        z-index: 3;
         
      }
      li:hover{
        background-color: rgba(173, 173, 173, 0.898);
        color: $accentColor;
      }
    }
  }
  #sideBar.sideBarOpen{
    right: 0;
    //backdrop-filter: blur(8px);
  }
  .blurFilter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(8px);
  }
}

@media screen and (min-width: 770px) {
  nav{
    .hamburgerContainer{
      display: none;
    }
    #sideBar {
      display: none;  
    }
    ul#largerResNavLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: fit-content;
      color: white;
      font-size: clamp(20px, 2vw, 1.3rem);
      margin-right: 12px;
      
      li {
        margin: 0 13px;
      }
      li:hover{
        color: $accentColor;
      }
      
    }
    .blurFilter {
      display: none;
      
    }

    
  }
}