@import "../../variables.scss";

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "Permanent Marker", cursive;

  span {
    color: $accentColor;
  }

  h1 {
    font-size: clamp(35px, 4vw, 55px);
    color: white;
    margin: 5px 0 0 10px;
  }
}

@media screen and (min-width: 770px) {
  header {
    .nav-larger-res-nav-links {
      display: flex;
      align-items: center;
    }
    ul.larger-nav-links-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: fit-content;
      color: white;
      font-size: clamp(20px, 2vw, 1.3rem);
      margin-right: 12px;

      li {
        margin: 0 13px;
      }
      li:hover {
        color: $accentColor;
        animation: wiggle 0.3s infinite;
      }
    }
  }
}
