@import "../../variables.scss";

@keyframes paintbrush {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(4px, 4px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-4px, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.paint {
  animation: paintbrush 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes hammer {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hammer {
  animation: hammer 1s ease-in-out infinite;
}

.solutions-container {
  font-family: "Work Sans", sans-serif;

  height: auto;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.197);
  color: white;
  margin-bottom: 10vh;
  padding: 15px;
  h1 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
  }
  .shields-container {
    display: flex;
    flex-direction: column;
  }
  .shield-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;

    .hexagon-shield {
      width: 130px;
      height: 150px; /* Adjust height based on the width to maintain proportions */
      background-color: $accentColor;
      position: relative;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 600;
    }
    p {
      font-weight: 400;
      letter-spacing: 1px;
      max-width: 300px;
      text-align: center;
      font-size: 0.9rem;
      line-height: 20px;
    }
  }
}

@media screen and (min-width: 770px) {
  .solutions-container {
    h1 {
      font-size: 2rem;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 950px) {
  .solutions-container {
    h1 {
      font-size: 2.2rem;
      margin-bottom: 80px;
    }
  }
}

@media screen and (min-width: 1220px) {
  .solutions-container {
    height: auto;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.176);
    color: white;
    margin-bottom: 10vh;
    padding: 40px 15px 15px 15px;

    h1 {
      font-size: 2.4rem;
    }
    .shields-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .shield-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      padding: 25px 15px;
      border-radius: 10px;
      border-bottom: none;
      margin-bottom: 40px;
      background-color: rgba(241, 241, 241, 0.11);

      .hexagon-shield {
        width: 130px;
        height: 150px; /* Adjust height based on the width to maintain proportions */
        background-color: $accentColor;
        position: relative;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
      }
      p {
        text-shadow: 1px 1px 1px rgb(0, 0, 0);

        font-weight: 400;
        letter-spacing: 1px;
        max-width: 330px;
        text-align: center;
        font-size: 1.1rem;
        line-height: 23px;
      }
    }
  }
}
