.solutionsContainer {
  height: 300px;

  width: 100%;
  background-color: rgba(128, 128, 128, 0.293);
  color: white;
  height: 300px;
  margin-bottom: 10vh;
  padding: 15px;

  h1 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
}
