@import "../../variables.scss";

.skillsSection {
  color: white;
  padding: none;
  font-family: "Work Sans", sans-serif;

  .logosContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 770px) {
  .skillsSection {
    .logosContainer {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 40px;
    }
  }
}

@media screen and (min-width: 950px) {
}
