@import "../../variables.scss";

.skillsSection {
  color: white;
  padding: none;
  font-family: "Work Sans", sans-serif;

  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    grid-row: 1/2;
    text-align: start;
    margin-bottom: 50px;
    span {
      color: $accentColor;
    }
  }
  .logosContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;

    .logo {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      border-radius: 25%;
      width: 90px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      gap: 10px;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
}
@media screen and (min-width: 770px) {
  .logosContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 950px) {
}
