@import "../../variables";
.logo {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 10px;
  img {
    height: 60px;
    width: auto;
  }
  p {
    margin-top: 2px;
    font-weight: 500;
    letter-spacing: 2.3px;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgb(59, 59, 59);
  }
}
@media screen and (min-width: 770px) {
  .logo {
    gap: 30px;
    img {
      height: 80px;
      width: auto;
    }
    p {
      margin-top: 4px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 950px) {
  .logo {
    gap: 50px;
    img {
      height: 90px;
      width: auto;
    }
    p {
      margin-top: 5px;
      font-size: 1.5rem;
    }
  }
}
