@import "../../variables.scss";

.mailerContainer {
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.501);
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .inputRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    label {
      margin-left: 5px;
    }
    input {
      border-radius: 5px;
      padding: 5px;
    }
    textarea {
      border-radius: 5px;
      padding: 5px;
    }
  }
  button {
    background-color: $accentColor;
    box-shadow: 2px 2px 2px 2px rgba(5, 5, 5, 0.2);
    color: rgb(49, 49, 49);
    border-radius: 5px;
    padding: 5px 10px;
    &:hover {
      background-color: $accentColorHover;
      color: white;
    }
    &:active {
      background-color: $accentColor;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.408);
    }
  }
}
