@import "../../variables.scss";

.mailer-container {
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.293);
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 22px;
  }

  .input-row {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    label {
      margin-left: 5px;
    }
    input,
    textarea {
      color: rgb(24, 24, 24);
      border-radius: 5px;
      padding: 5px;
    }
  }
  .button-row {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  button {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 2px;
    font-size: 1rem;
    background-color: $accentColor;
    box-shadow: 2px 2px 2px 2px rgba(5, 5, 5, 0.2);
    color: rgb(49, 49, 49);
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    &:hover {
      background-color: $accentColorHover;
      color: white;
    }
    &:active {
      background-color: $accentColorActive;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.408);
    }
  }
}

@media screen and (min-width: 770px) {
  .mailer-container {
    margin-top: 90px;
    padding: 30px 20px;
    gap: 50px;
    font-weight: 500;
    p {
      font-size: 1.35rem;
      letter-spacing: 1px;
      line-height: 35px;
    }

    .input-row {
      gap: 10px;
      margin-bottom: 15px;
      font-size: 1.25rem;

      label {
        margin-left: 10px;
      }
      input,
      textarea {
        padding: 10px;
      }
    }
    button {
      font-size: 1.25rem;
      padding: 15px 20px;
    }
  }
}

@media screen and (min-width: 950px) {
  .mailer-container {
    margin-top: 100px;
    padding: 35px 25px;
    gap: 50px;
    font-weight: 500;
    p {
      font-size: 1.4rem;
      letter-spacing: 1.2px;
      line-height: 37px;
    }

    .input-row {
      gap: 12px;
      margin-bottom: 20px;
      font-size: 1.3rem;

      label {
        margin-left: 10px;
      }
      input,
      textarea {
        padding: 12px;
      }
    }
    button {
      font-size: 1.3rem;
      padding: 17px 22px;
    }
  }
}
