@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes miniWiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes paintbrush {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(4px, 4px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-4px, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.paint {
  animation: paintbrush 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes hammer {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hammer {
  animation: hammer 1s ease-in-out infinite;
}

section.projects-section {
  color: white;
  padding: none;
  font-family: "Work Sans", sans-serif;
}
section.projects-section h1 {
  margin-bottom: 50px;
}
section.projects-section a:hover {
  animation: miniWiggle 0.3s infinite;
}
section.projects-section .card {
  margin-bottom: 20px;
}
section.projects-section .mobile-project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 60px 0px;
}
section.projects-section .mobile-project-card div.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
section.projects-section .mobile-project-card div.top h2 {
  font-family: "Permanent Marker", cursive;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-left: 5px;
}
section.projects-section .mobile-project-card div.top h2 a:hover {
  color: rgb(126, 234, 130);
}
section.projects-section .mobile-project-card div.top div.links {
  display: flex;
  gap: 10px;
  align-items: center;
}
section.projects-section .mobile-project-card div.top div.links a {
  flex: 1; /* Added this to make the links span the available space */
}
section.projects-section .mobile-project-card div.top div.links a:hover {
  color: rgb(126, 234, 130);
}
section.projects-section .mobile-project-card video {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
section.projects-section .mobile-project-card p {
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
section.projects-section .mobile-project-card p span {
  color: rgb(126, 234, 130);
}
section.projects-section .mobile-project-card p.tech-stack {
  font-size: 0.7rem;
  line-height: 15px;
}
section.projects-section .mobile-project-card p.description {
  line-height: 23px;
  font-size: 1rem;
}
section.projects-section .large-project-card {
  display: none;
}

@media screen and (min-width: 770px) {
  section.projects-section {
    color: white;
    padding: none;
  }
  section.projects-section .mobile-project-card {
    display: none;
  }
  section.projects-section .large-project-card {
    margin: 80px 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 1fr auto;
    padding-top: 50px;
  }
  section.projects-section .large-project-card .img-wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
  }
  section.projects-section .large-project-card .img-wrapper video,
  section.projects-section .large-project-card .img-wrapper img {
    border-radius: 5px;
    height: auto;
    width: 100%;
  }
  section.projects-section .large-project-card .img-wrapper .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 159, 159, 0.189);
    transition: all 0.2s;
  }
  section.projects-section .large-project-card .img-wrapper .color-overlay:hover {
    background-color: transparent;
  }
  section.projects-section .large-project-card .tech-stack {
    margin-top: 5px;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 1rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-weight: 500;
  }
  section.projects-section .large-project-card .tech-stack span {
    color: rgb(126, 234, 130);
  }
  section.projects-section .large-project-card h2 {
    font-family: "Permanent Marker", cursive;
    position: absolute;
    z-index: 3;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 4px;
    right: 15px;
    top: 15px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  section.projects-section .large-project-card h2 a:hover {
    color: rgb(126, 234, 130);
  }
  section.projects-section .large-project-card .floating-box {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 280px;
    right: 10px;
    top: 70px;
    display: flex;
    flex-direction: column;
  }
  section.projects-section .large-project-card .floating-box p {
    background-color: rgba(128, 128, 128, 0.293);
    padding: 15px;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-align: center;
    height: auto;
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  section.projects-section .large-project-card .floating-box div.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
    margin-right: 5px;
    font-weight: 500;
  }
  section.projects-section .large-project-card .floating-box div.links a {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  section.projects-section .large-project-card .floating-box div.links a:hover {
    text-decoration: underline;
    color: rgb(126, 234, 130);
  }
}
@media screen and (min-width: 972px) {
  section.projects-section {
    font-family: "Work Sans", sans-serif;
    color: white;
    padding: none;
  }
  section.projects-section .large-project-card {
    margin: 110px 0;
  }
  section.projects-section .large-project-card h2 {
    right: -8px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  section.projects-section .large-project-card .floating-box {
    width: 380px;
    right: -10px;
  }
  section.projects-section .large-project-card .floating-box p {
    line-height: 22px;
    font-size: 0.9rem;
  }
  section.projects-section .large-project-card .floating-box div.links {
    gap: 20px;
  }
  section.projects-section .large-project-card .floating-box div.links a {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
}/*# sourceMappingURL=Projects2.css.map */